<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Tải nhạc, download music, tải video, download video từ mp3.zing.vn, nhaccuatui.com, nhacso.net, youtube.com">
	<meta name="author" content="FiveBot">
	<meta name="keywords" value="download music, download video, download mp3, download mp4, download mp3.zing.vn, download nhaccuatui.com, download nhacso.net, download youtube.com">

  <title>Get</title>
  <script src="//squaresend.com/squaresend.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/soundmanager2/2.97a.20130512/soundmanager2-jsmin.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>Get <i class="fa fa-download"></i></h1>
					<small class="text-muted">Get <i class="fa fa-download"></i> là tiện ích nhỏ xíu giúp bạn lấy link download nhạc, video từ nhiều nguồn khác nhau</small>
				</div>
				{{> get}}
				<hr>
				{{> albums}}<br>
				<div class="row">
					<div class="col-md-6">{{> songs}}</div>
					<div class="col-md-6" style="border: 1px solid #eeeeee;">
						<div class="row">
							<p class="text-muted">Hỗ trợ lấy link download của các trang sau đây:</p>
							<div class="col-md-6">
								<strong>Việt Nam</strong>
								<ol>
									<li><a href="http://nhacso.net"><img width="16" src="http://g.etfv.co/http://nhacso.net"> nhacso.net</a></li>
									<li><a href="http://mp3.zing.vn"><img width="16" src="http://g.etfv.co/http://mp3.zing.vn"> mp3.zing.vn</a></li>
									<li><a href="http://nhaccuatui.com"><img width="16" src="http://g.etfv.co/http://nhaccuatui.com"> nhaccuatui.com</a></li>
									<li><a href="http://clip.vn"><img width="16" src="http://g.etfv.co/http://clip.vn"> clip.vn</a></li>
								</ol>
							</div>
							<div class="col-md-6">
								<strong>Nước ngoài</strong>
								<ol>
									<li><a href="http://youtube.com"><img width="16" src="http://g.etfv.co/http://youtube.com"> youtube.com</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<footer>
			<p>
				<span>© 2013 <a href="/">Get <i class="fa fa-download"></i></a> - một dự án của <a href="#">FiveBot Lab</a></span>
				<span class="pull-right"><a href="mailto:23qq5r8n"><i class="fa fa-envelope-o"></i> Liên hệ</a></span>
			</p>
		</footer>
	</div>
</body>

<template name="hello">
  <h1>Hello World!</h1>
  {{greeting}}
  <input type="button" value="Click" />
</template>

<template name="get">
	<form class="form-inline" role="form">
		<div class="form-group">
			<input type="text" name="link" size="100" placeholder="điền link muốn tải vào đây" required class="form-control">
		</div>
		<button class="btn btn-primary" type="submit"><i class="fa fa-download"></i> <span>Get</span></button>
		<span class="help-block">
			Ví dụ: http://nhacso.net/nghe-nhac/do-ngang.X1tQUEBdbA==.html
		</span>
	</form>
</template>

<template name="songs">
	<table class="table">
		<caption>Kết quả</caption>
		<thead>
			<tr>
				<th>Tên bài hát</th>
				<th>Trình bày</th>
				{{#if songs.0.image}}<th>Hình</th>{{/if}}
			</tr>
		</thead>
		<tbody>
			{{#each songs}}
				<tr>
					<td><a href="{{source}}" target="_blank">{{name}}</a></td>
					<td>{{performer}}</td>
					{{#if image}}<td><img src="{{image}}" class="img-thumbnail" width="100px"></td>{{/if}}
				</tr>
			{{/each}}
		</tbody>
	</table>

</template>	


<template name="albums">

	{{#if album}}
		<h2>{{album.name}}</h2>
		<img src="{{album.img}}">
	{{/if}}

</template>